<h1 style="margin-left: 40%;">BCP - TIPO DE CAMBIO</h1>

<div style="margin-left: 2%;">
    <button mat-raised-button color="primary" (click)="openAddTipoCambio()">CONVERTIR</button>
</div>
<br>
<div>
    <table mat-table [dataSource]="lst" class="mat-elevation-z4">
        <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef>Monto</th>
            <td mat-cell *matCellDef="let element">{{ element.monto }}</td>
        </ng-container>

        <ng-container matColumnDef="monedaOrigen">
            <th mat-header-cell *matHeaderCellDef>Moneda Origen</th>
            <td mat-cell *matCellDef="let element">{{ element.monedaOrigen }}</td>
        </ng-container>

        <ng-container matColumnDef="monedaDestino">
            <th mat-header-cell *matHeaderCellDef>Moneda Destino</th>
            <td mat-cell *matCellDef="let element">{{ element.monedaDestino }}</td>
        </ng-container>

        <ng-container matColumnDef="tipoDeCambio">
            <th mat-header-cell *matHeaderCellDef>Tipo De Cambio</th>
            <td mat-cell *matCellDef="let element">{{ element.tipoDeCambio }}</td>
        </ng-container>

        <ng-container matColumnDef="montoConTipoCambio">
            <th mat-header-cell *matHeaderCellDef>Monto Con Tipo Cambio</th>
            <td mat-cell *matCellDef="let element">{{ element.montoConTipoCambio }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
</div>